:root {
    --black:#000;
    --white: #fff;
    --graydark: #5E5E5E;
    --graymiddle: #666;
    --graywhite: #9E9E9E;
    --backgroundwhite:#F8F8F8;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@font-face {
    font-family:didact;
    src: url(../fonts/DidactGothic-Regular.ttf);
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: didact;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: var(--backgroundwhite);
}
header{
    text-align: center;
    height:100vh;
    background-color: var(--white);

}
nav {
    text-align: right;
    padding:2vh 4vw;
}
nav a{ 
    text-decoration: none;
    text-align: center;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: var(--black);
}
.heroimg {
    background: url("https://images.unsplash.com/photo-1601134467661-3d775b999c8b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1550&q=80")no-repeat center;
    margin:10rem;
    height: auto;
    width: auto;
}
h1{
    padding: 30rem;
    color: var(--white);
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-transform: uppercase;
}
.Wolke1{
    height:100vh;
    width: 100vw;
    background: url("https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80")no-repeat center;
    background-size: cover;
}
.Wolke2{
    height:100vh;
    width: 100vw;
    background: url("https://images.unsplash.com/photo-1536532184021-da5392b55da1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80")no-repeat center;
    background-size: cover;
}
.Wolke3{
    height:100vh;
    width: 100vw;
    background: url("https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80")no-repeat center;
    background-size: cover;
}
article{
    text-align: center;
    height:70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 80%;
}
h2{
    font-size: 4rem;
    margin-bottom: 2.7rem;
}
.textbox p {
    font-size: 2.4rem;
    line-height: 2.35rem;
}
.lastimg {
    background-color: var(--backgroundwhite);
    height:100vh;    
    
}
.textbox2 {
        background: url("https://images.unsplash.com/photo-1610692507254-3bc16d2527ea?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1931&q=80")no-repeat center;
        margin: 30vh 20vw;
        background-size: cover;

        padding:10rem;
}

h4{
    padding: 19.3rem 12rem 16.8rem 11.7rem;
    color: var(--white);
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    text-transform: uppercase;
}

footer{
    background-color: var(--white);
    text-align: center;
    font-size: 2rem;
    padding: 5.5rem 46rem;
}